.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  justify-content: center;
  margin: 20px 0;
}
.products .card {
  margin: 10px auto;
  border-radius: 3px;
  box-shadow: #919eab33 0 0 6px, #919eab1f 0 12px 24px -4px;
  border: 1px solid #c0c9d5;
  transition: border-color 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
  border: 0;
}

.products  .card-body {
  background-color: #dd7596;
}

.products .card-body * {
  color: white;
}

.products .card-img-top {
  height: 250px;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}
.products .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.products .card-text {
  height: 70px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.products .btn-buy {
  background-color: #60afff;
}

.products .btn-buy:hover{
    transition: 0.3s;
  background-color: #fff;
}
/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active {
  border-color: orangered;
  padding: 2px;
}

.navbar-brand{
  background-color: transparent;
  border: 0;
}

.cart-item svg path{
fill: white;
}

.cart-item .badge{
  position: relative;
  top: -5px;
}

.categories{
  cursor: pointer;
}

.fa-edit{
  cursor: pointer;

}

.fa-trash-alt{
  cursor: pointer;

}


.sign-in-button-navbar{
  background-color: #60afff;
  color:#fff!important;
  font-weight: bold;
  border:0!important;
  border-radius: 10px;
  
}
.nav-link.sign-in-button-navbar:active, 
.nav-link.sign-in-button-navbar:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


